/*----------------------------------------*/
/* Navigation - styling and customization */
/*----------------------------------------*/

/* Base file customization */

.nav-file-title {
    color: #aabbcc;
    --nav-item-color-hover: #ffffff;
}

.nav-file-title::before {
    content: "\26ac";
	padding-right: 5px;
}

.nav-file-tag {
    color: #aabbcc;
}

/* Bookmark specific in addition yo the styling from nav title */

.bookmark {
    color: #aabbcc;
}

.bookmark:hover {
	color: #ffffff;
}

.bookmark.mod-collapsible {
    color: #ccbbaa;
	border-bottom: solid 1px #ccbbaa;
}

.bookmark.mod-collapsible::before {
	content: "\2192";
	padding-right: 5px;
}

/* Base folder customization */

.nav-folder-title {
    color: #ccbbaa;
	border-bottom: 1px solid #99887780;
    --nav-item-color-hover: #ffffff;
}

.nav-folder-title::before {
	content: "\21ac";
	padding-right: 5px;
}

.nav-folder-title[data-path$="00 Inbox"] {
	background-color: #2f2222;
}

.nav-folder-title[data-path$="60 Projects"] {
	background-color: #222f22;
}

.nav-folder-title[data-path$="30 Obsidian"] {
	background-color: #22222f;
}

/* Subdue Publish folder and publish.css so they do not visually interfere with my JDS file structure */

.nav-folder-title[data-path$="publish"], .nav-file-title[data-path$="publish.css"] {
    color: #556677 !important;
    --nav-item-color-hover: #ffffff;
}

